@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    box-sizing: border-box;
}
.book{
    font-family: 'Piedra', cursive;
    font-weight: 500;
    font-size: 30px;
    
    color: #E5E7E9;
}
.store{
    font-family: 'Piedra', cursive;
    font-weight: 500;
    font-size: 30px;
    color: #E5E7E9;
}

.searchbox .col-12 form input[type=search]
{
    padding-right: 20%;
}
.slides img
{
height:500px;

}


.recentbooks
{
    font-family: Open Sans;
    position: relative;
    height: auto;
    width: 100%;
    
}

.recentbooks .col-4 img{

   height: 500px;
   border: 2px solid rgba(52, 73, 94,0.6);
   padding: 5px;
  
}



@media only screen and (max-width:500px)
{
    .slides img
    {
    height:300px;
    }
    
    nav .book,.store{
        font-size: 20px;

    }

    .recentbooks .col-4 img{

        height: 200px;
        
     }
     .recentbooks h1
{
    font-size: 30px;
}
.card-body h5{
    font-size: 15px;
    font-weight: 300;
    font-style: bold;
}
.card-body p {
font-size: 10px;
padding-top: 2px;
}

.topbook .col-4 .card img{
    height: 180px;
}
.topbook .listbook
{
    display: none;
}


}
@media only screen and (min-width:500px )
{
    .recentbooks .col-4 img{

        height:260px;
        
     }
     .topbook h5
{
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    margin-left: 5px;
}
.line
{
    width: 30%;
}
.topbook .col-4 .card img{
    height: 210px;
}
}
@media only screen and (min-width:750px )
{
    .topbook .col-4 .card img
    {
    height: 260px;
  }

}
 


@media only screen and (min-width:800px )
{
    .recentbooks .col-4 img{

        height:300px;
        
     }
     .topbook .listbook .col-4 .card-body .btn
{
    width: 60px;
    font-size:15px;
    padding:8px;
}
.topbook h5
{
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    margin-left: 5px;
}
.line
{
    width: 30%;
}
}
@media only screen and (min-width:950px )
{
    .recentbooks .col-4 img{

        height:450px;
        
     }
     .topbook h5
{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-left: 5px;
}
}

 
